{% extends 'base.html' %}
{% block content %}

<!-- step 4, make map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<h2>Local Popularity Map</h2>
<div id="map" style="height: 500px;"></div>

{{ regions|json_script:"regions-data" }}

<script>
    const regions = JSON.parse(document.getElementById('regions-data').textContent);

    // ATL HOE
    const map = L.map('map').setView([33.749, -84.388], 10);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map)

    regions.forEach(r => {
        const items = r.movies.map(m =>
            `<li>${m.name}${m.score > 0 ? ` <em>(${m.score})</em> ` : ''} </li>`
        ).join('');

        const html = `
            <strong>${r.name}</strong>
            <div style="max-height: 200px; overflow-y: auto;">
                <ul style="padding-left: 18px; margin: 6px 0 0;"> ${items} </ul>
            </div>
        `;

        L.marker([r.lat, r.lng]).addTo(map).bindPopup(html);
    })
</script>

{% endblock content %}